<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
    body
        .gridContainer#card
            .owner
                img(src=require('../img/iconhip.png'), alt="" class="userIcon")
                h2 Bienvenido de Nuevo {{temperature}}
                .owner__containerConnected
                    img(src=require('../img/usb.png'), alt="" class="connectedIcon")
                    h3.owner__containerConnected__title Conectado
            .title
                h2 Control de Usuario
                button(class="ui red button") Salir
            .info
                .info__radarContainer
                    .radarContainer
                        .top
                            .blob.blue
                            .blob.position#position
                .info__registersContainer
                    ul
                        li#casa(@click="saludo") Evento Registrado
                        li Evento Registrado
                        li Evento Registrado
                        li Evento Registrado

            .ui.modal.tiny
                .header
                    p Hola
                .content
                    .description
                        //- p Mundo
                        .radarContainer
                            .top
                                .blob.blue
                                .blob.position#positiondb

        //- .container
        //-     .radarContainer
        //-         .top
        //-             .blob.blue

        

